.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 1rem 2rem;
  background-color: white;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid white;
  transition: all 0.3s ease;
}
.logo-lcdweb {
  width: 9vw;
  @media #{$medium-screen} {
    width: 25vw;
  }
  // @media screen and (max-width: 1040px) {
  //   width: 22vw;
  // }
}
.navbar-float {
  background-color: white;
  box-shadow: 0 0px 20px rgba(252, 249, 249, 0.2);
}

.btn-nav {
  margin: 0 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  li {
    margin: 0 3rem;
    cursor: pointer;

    a {
      color: black;
      margin: 5px 0;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;

      transition: all 0.3s ease-in-out;

      &::after {
        display: block;
        content: "";
        border-bottom: 1px solid rgb(60, 164, 185);
        transform: scaleX(0);
        transition: transform 0.25s ease-in-out;
        transform-origin: 100% 50%;
      }

      &:hover {
        color: rgb(58, 130, 151);
      }
      &:hover:after {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }
    }
  }

  @media #{$medium-screen} {
    display: none;
  }
}

.active {
  a {
    color: rgb(58, 130, 151);
    font-weight: 800;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: none;

  justify-content: center;
  align-items: center;
  background-color: white;
  svg {
    color: black;
    width: 70%;
    height: 70%;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: white;

    background-size: cover;
    background-repeat: repeat;
    // box-shadow: 0px 0px 20px rgba(161, 153, 153, 0.15);
    border-bottom: 1px solid rgb(224, 221, 221);

    svg {
      width: 35px;
      height: 35px;
      font-size: 50px;
      color: black;
      margin: 0.1rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      color: black;
      font-size: 1.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      li {
        margin: 1.1rem;

        a {
          color: black;
          text-transform: uppercase;
          font-weight: 700;
          text-decoration: none;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: rgb(18, 87, 108);
          }
        }
      }
    }
  }

  @media #{$medium-screen} {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
