@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  // background-color: black;
  font-family: $font-one;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
