.home {
  padding: 5.5rem 0;
  color: #fff;
  background-color: black;
  // position: relative;
  font-family: $font-two;
  transition: all 0.8s ease;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.css-typing {
  margin: 60px;
}
.css-typing p {
  padding: 20px 0;
  border-right: 0.15em solid white;
  white-space: nowrap;
  overflow: hidden;
  @media #{$small-screen} {
    font-size: 13px;
  }
}
.css-typing p:nth-child(1) {
  @media #{$medium-screen} {
    margin: 20px;
    width: 9.4em;
    font-size: 20px;
  }
  width: 9.4em;
  font-size: 30px;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(2) {
  @media #{$medium-screen} {
    margin-left: 20px;
    width: 9.4em;
    font-size: 20px;
  }
  font-size: 30px;
  width: 9.7em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cv {
  padding: 20px;
  margin: 80px;
  border: 1px solid rgb(67, 66, 66);
  font-family: $font-two;
  font-size: 40px;
  color: #ffffff;
  opacity: 0;
  -webkit-animation: appear 1s ease forwards;
  animation: appear 1s ease forwards;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  @media #{$medium-screen} {
    font-size: 18px;
  }
  &__title {
    padding: 20px;
  }
}
