.home {
  padding: 31rem 0;
  color: #fff;
  //background-color: rgb(73, 162, 170);
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  &__background {
    margin: 10px 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(60deg, #0207086c, #125f69);
    overflow: hidden;
    // transform: skewY(3deg) translateY(-80px);
    z-index: -1;
    &:after {
      content: "";
      background: url("https://www.transparenttextures.com/patterns/gravel.png");
      width: 800%;
      position: absolute;
      top: -400%;
      right: -400%;
      height: 800%;
      opacity: 0.3;
      animation-name: rotate;
      animation-duration: 1050s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}
.title {
  color: white;
  z-index: 1;
  // font-size: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50xp;
  font-weight: bold;
  margin: 0;
  // font-family: $font-two;
}
.title-firstname {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-weight: bold;
  margin: 0 0 25px 0;
  z-index: 1;

  // font-family: $font-two;
}
.subtitle {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-weight: 700;
  // font-size: 40px;
}
.letter {
  font-size: 5rem;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.firstname-letter {
  font-size: 3.5rem;
  display: inline-block;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.cv {
  padding: 20px;
  margin: 80px;
  border: 1px solid rgb(67, 66, 66);
  font-family: $font-two;
  font-size: 40px;
  color: #ffffff;
  opacity: 0;
  -webkit-animation: appear 1s ease forwards;
  animation: appear 1s ease forwards;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  @media #{$medium-screen} {
    font-size: 18px;
  }
  &__title {
    padding: 20px;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
