.container__project {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #49a2aa;
  position: relative;
  font-family: $font-two;
  transition: all 0.8s ease;
  padding: 15px 0;
}

.content {
  opacity: 0;
  animation: appear 2s ease forwards;
  animation-delay: 2s;
}

.project {
  font-family: $font-two;
  display: flex;
  flex-direction: row;
  margin: 0 25px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;

  span {
    font-size: 24px;
  }
  p {
    font-size: 22px;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
  }
  &__card {
    min-width: 200px;
    max-width: 600px;
    max-height: 500px;
    border: 1px solid #373738;
    border-radius: 5px;
    margin: 30px;
    padding: 7px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__content {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .logo {
      width: 70%;
      object-fit: cover;
    }
    .booki {
      margin-left: 30px;
    }
  }
}
.title {
  h2 {
    text-transform: uppercase;
    font-family: $font-three;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 50px;
  }
}
